
/* GENERAL STYLING */

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: rgb(255, 254, 250);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* LEFT SECTION STYLING */

.left-section {
    background-color: #3b9e99;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #0a080f;
}

.profile-image {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #0a080f;
    margin-bottom: 20px;
}

h1 {
    font-size: 26px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 19px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #234e52;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* RIGHT SECTION STYLING */

.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: 0 0 15px #0f1a1b;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #3b9e99;
}

